html {
    font-size: 62.5%;
}

body, h1 {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-size: 1.6rem;
    color: yellow;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
}

button {
    width: 200px;
    height: 50px;
    background-color: yellow;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 2.0rem;
}

header button {
    margin-left: 10px;
}

button:active {
    background-color: rgb(219, 219, 29);
}

button:focus {
    outline: none;
}

header {
    display: flex;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid yellow;
}

main {
    display: flex;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

.allMarvelHeroes, .allDcHeroes, .heroProfile {
    display: none;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

.on {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section article {
    margin: 10px;
    padding: 10px;
    border: 2px solid yellow;
    min-height: 350px;
    max-height: auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

section article button {
    height: 30px;
    width: 130px;
}

section h1 {
    width: 100%;
    text-align: center;
    font-size: 4.0rem;
}

section article p {
    text-align: center;
}

.initialText {
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.addMarvel, .addDC {
    order: 999;
}

@media screen and (max-width: 645px) {
    header h1 {
        font-size: 2.0rem;
    }

    header button {
        width: 80px;
        margin-left: 1px;
        font-size: 1.8rem;
    }
}